<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /solanabr-glossario/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /solanabr-glossario/index.html [L]
</IfModule>
